@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="bodycenter py-2 bg-info my-4  ">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-2">
            <div class="col-md-3 ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/v/e/vestido-infantil-evase-masha-e-o-urso-rosa-claro-14046253_foto1_frontal.jpg" /></div>
                        <h3>Vestido Rosa</h3>
                        <h1>R$ 176,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Infantil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://30088.cdn.simplo7.net/static/30088/sku/vestidos-de-festa-infantil-vestido-de-festa-infantil-azul-liso--p-1593725366824.jpg" /></div>
                        <h3>Vestido Azul</h3>
                        <h1>R$ 126,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Infantil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/roupa-para-menina/vestidos-infantil/vestido-infantil-moletom-cinza-carinhoso_284302_600_1.jpg" /></div>
                        <h3>Vestido Cinza</h3>
                        <h1>R$ 136,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Infantil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/v/e/vestido-curto-gode-infantil-ariel-verde-14025795_foto1_frontal.jpg" /></div>
                        <h3>Vestido Verde</h3>
                        <h1>R$ 146,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Infantil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" 
   src="https://static.zattini.com.br/produtos/calca-jeans-ecxo-masculino-2004/06/LYU-0011-006/LYU-0011-006_zoom1.jpg?ts=1562088074&ims=544x" /></div>
                        <h3>Calça Jens Preta</h3>
                        <h1>R$ 100,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Juvenil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" src="https://www.calitta.com/9162-large_default/calca-jeans-masculina-slim-fit-branca-jeans-rasgada-skinny.jpg" /></div>
                        <h3>Calça Jens Branca</h3>
                        <h1>R$ 50,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Juvenil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://img.lojasrenner.com.br/item/536904850/zoom/1.jpg" /></div>
                        <h3>Calça Jens Azul</h3>
                        <h1>R$ 150,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Juvenil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" src="https://rodeowest.fbitsstatic.net/img/p/calca-jeans-masculina-cowboy-cut-marrom-original-wrangler-23747-158348/386533-1.jpg?w=460&h=460&v=no-change" /></div>
                        <h3>Calça Jens Marrom</h3>
                        <h1>R$ 200,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Juvenil</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/plus-size-feminino/blusa-manga-curta/blusa-azul-escuro-manga-curta_573779_600_1.jpg" /></div>
                        <h3>Blusa Azul</h3>
                        <h1>R$ 300,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Adulto</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" src="https://ph-cdn1.ecosweb.com.br/imagens01/foto/moda-feminina/t-shirt/blusa-rosa-com-inscricao_587729_600_3.jpg" /></div>
                        <h3>Blusa Rosa</h3>
                        <h1>R$ 350,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Adulto</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-sm my-3">

                    <div class="card-body  ">
                        <div class="imgraposa"><img width="220" height="225" src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/b/l/blusa-manga-bufante---lilas-13881019_foto1_frontal.jpg" /></div>
                        <h3>Blusa lilas</h3>
                        <h1>R$ 400,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Adulto</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  ">
                <div class="card shadow-sm my-3">

                    <div class="card-body">
                        <div class="imgraposa"><img width="220" height="225" src="https://w7.pngwing.com/pngs/718/552/png-transparent-hoodie-jacket-polar-fleece-bluza-green-jacket-olive-grey-hoodie.png" /></div>
                        <h3>Blusa Verde</h3>
                        <h1>R$ 450,00</h1>
                        <p class="card-text">Um lindo vestido rosa para deixar sua filha na moda atual, ou mesmo para dar de presente!.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrinho</button>
                            </div>
                            <small class="categoriatre text-muted">Categoria:Adulto</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

