
@{
    ViewData["Title"] = "Painel de Controle";
    string nome_adm = "Rafael Santos";
}

<div class="b-example-divider"></div>

<div class="container">
  <header class="d-flex justify-content-center py-3 bg-secondary">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="https://localhost:44376/admin/index" class="nav-link active text-white">Inicio</a></li>
      <li class="nav-item"><a href="https://localhost:44376/admin/CadastrarCliente" class="nav-link text-white">Cadastrar Clientes</a></li>
      <li class="nav-item"><a href="https://localhost:44376/admin/CadastrarProduto" class="nav-link text-white">Cadastrar Produtos</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">#</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">#</a></li>
    </ul>
  </header>
</div>

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Seja bem vindo @nome_adm</h1>
        <p class="lead">Essa e a area de administrador onde será possivel ver relatorios,cadastrar,excluir,renomear e pesquisar todas as funções do site.</p>
    </div>
</main>